[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit yihui-he/channel-pruning: Channel Pruning for Accelerating Very Deep Neural Networks (ICCV'17)
Type=Link
URL=https://github.com/yihui-he/channel-pruning
Icon=text-html
Name[de_DE]=Channel Pruning for Accelerating Very Deep Neural Networks ICCV_17
