[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit DNNToolBox/Net-Trim-v1: Net-Trim: Convex Pruning of Deep Neural Networks with Performance Guarantee
Type=Link
URL=https://github.com/DNNToolBox/Net-Trim-v1
Icon=text-html
Name[de_DE]=Net-Trim_ Convex Pruning of Deep Neural Networks with Performance Guarantee
